html { font-family: Arial, Helvetica, sans-serif; background: #eee; padding: 1rem; }
body { max-width: 960px; margin: 0 auto; background: #4e4e4e; }
h1 { font-family: Arial, Helvetica, sans-serif; color: #eee; margin: 1rem 0; font-weight: 800;}
a { color: #87c3eb; }
hr { border: none; border-top: 1px solid #000; }
nav { background: #000; display: flex; align-items: center; padding: 0 0.5rem; }
nav h1 { flex: auto; margin: 0; }
nav h1 a { text-decoration: none; padding: 0.25rem 0.5rem; }
nav ul  { display: flex; list-style: none; margin: 0; padding: 0; }
nav ul li a, nav ul li span, header .action { display: block; padding: 0.5rem; }
.content { padding: 0 1rem 1rem; }
.content > header { border-bottom: 1px solid lightgray; display: flex; align-items: flex-end; }
.content > header h1 { flex: auto; margin: 1rem 0 0.25rem 0; }
.flash { margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #377ba8; }
.post > header { display: flex; align-items: flex-end; font-size: 0.85em; }
.post > header > div:first-of-type { flex: auto; }
.post > header h1 { font-size: 1.5em; margin-bottom: 0; }
.post .about { color: slategray; font-style: italic; }
.post .body { white-space: pre-line; }
.content:last-child { margin-bottom: 0; }
.content form { margin: 1em 0; display: flex; flex-direction: column; }
.content label { font-weight: bold; margin-bottom: 0.5em; color: #eee;}
.content input, .content textarea { margin-bottom: 1em; }
.content textarea { min-height: 12em; resize: vertical; }
input.danger { color: #cc2f2e; }
input[type=submit] { align-self: start; min-width: 10em; }

.content-box {
    margin-bottom: 20px;
    max-width: 740px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.button {
    padding: 10px;
    border-radius: 5px;
    border: 0;
    background-color: #162c41;
    color: #fff;
    cursor: pointer;
}

#dropArea {
    margin-top: 40px;
    border: 2px dashed #fff;
    border-radius: 5px;
    padding: 60px 20px ;
    text-align: center;
    cursor: pointer;
}

.filelist {
    color: #232323;
    list-style: none;
    background-color: #c7c7c7;
    border-radius: 5px;
    padding: 10px;
}

.filelist li {
    color: #232323;
    list-style: none;
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 1px 2px 4px #929191 ;
}

.filelist li:hover {
    background-color: #d6eaff;
    cursor: pointer;
    transition: 0.5s;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }

#loader {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transition: 0.5s;
}
  
#transcribe-button {
    color: #162c41;
    border-radius: 5px;
    border-style: none;
    font-weight: 700;
    font-size: 18px;
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
}

#transcribe-button:hover {
    color: #162c41;
    background-color: #93aec9;
    border-radius: 5px;
    border-style: none;
    font-weight: 700;
    font-size: 18px;
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s;
}